/* Reset styles for common elements */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Base styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem; /* Default font size */
}

/* Section styles */
section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

div {
    max-width: 100%;
}

/* Header styles */
header {
    background-color: lightblue;
    width: 100%;
    color: #0074e4;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: normal;
    text-align: center;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 0.1px;

}

nav ul li a {
    text-decoration: none;
    color: #0074e4;
    margin-left: 1rem;
    transition: .3s;
    padding-top: 0px;
    font-weight: bold
 }

/* Add a new style for making bold text blue for experience text */
ul li p span[style="font-weight: bold"] {
    color: #0074e4;
}

nav ul li a:hover,
nav ul li a:active {
     color: yellow;
}

/* Main content styles */
main {
    padding: 20px;
}

iframe {
    width: 100%;
    height: 870px;
    border: none;
}

/* Footer styles */
footer {
    background-color: lightblue;
    color: #0074e4;
    text-align: center;
    padding: 10px 0;
}

#footer-text {
    font-size: 1rem;
}

#copyright-year {
    font-weight: bold;
}

/* Additional responsive styles */

.portfolio {
    padding-right: 0%;
}

/* moves the image and name */
.name {
    font-size: 1rem;
    padding: 0rem 2rem;
}

.portfolio img {
     background: transparent;
     padding-right: 1%;
     overflow: hidden;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Reduce to move up */
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 10rem;
    box-shadow: 0 0 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: 0px; /* Adjusted margin for buttons */
}

.btn:hover {
    box-shadow: none;
    }


/* Adjust font sizes for headers and paragraphs for responsiveness */
h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 2rem;
    font-weight: bold
    
}

/* Main styles for the page content */
main {
    padding: 20px;
}

/* Heading styles */
h2 {
    font-size: 24px;
    color: #0074e4; /* Heading text color */
    margin-bottom: 10px;
}

/* Icon styles */
ion-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 10px;
    color: #0074e4; /* Icon color */
}

/* Paragraph styles for phones*/
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: bold
}


/* Contact card styles */
.contact-card {
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-card:hover,
.contact-card:focus {
    opacity: 3;
    transform: translateY(0);
}

.contact-card:nth-child(odd) {
    transition-delay: 0.2s;
}

.contact-card:nth-child(even) {
    transition-delay: 0.4s;
}


/* Icon styles */
ion-icon {
    font-size: 36px;
    margin-right: 20px;
    color: #0074e4; /* Icon color */
}

/* Contact details styles */
.contact-details {
    flex: 1;
}


/* Contact info styles */
.contact-info {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

    .contact-details {
        flex-direction: column; /* Stack contact info vertically on smaller screens */
    }

    .contact-info {
        margin-left: 30px; /* Add space between icon and contact info on smaller screens */
    }


/* Education heading styles */
#education-heading {
    font-size: 24px;
    color: #0074e4;
    margin-bottom: 20px;
}

/* Education list styles */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

/* Education date styles */
span[id^="education"] {
    
    color: black;
}

/* Education title styles */
span[id^="education-title"] {
    margin-left: 10px;
}

